@value black from '../../../../assets/styles/colors.css';
@value white from '../../../../assets/styles/colors.css';
@value point-gray from '../../../../assets/styles/colors.css';
@value accent-red from '../../../../assets/styles/colors.css';
@value accent-blue from '../../../../assets/styles/colors.css';
@value box-shadow from '../../../../assets/styles/design.css';
@value base-fonts from '../../../../assets/styles/fonts.css';
@value base-padding from '../../../../assets/styles/design.css';

.report_container {
    margin: base-padding;
}

.report_title_container {
    background-color: point-gray;
    width: 160px;
    height: 30px;
    margin-bottom: 25px;
    font-family: base-fonts;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report {
    background-color: white;
    padding: base-padding;
    box-shadow: box-shadow;
}

.report_income_expenditure_part {
    padding: base-padding;
    font-family: base-fonts;
    font-weight: bold;
    font-size: 20px;
}

.report_income_expenditure_part div {
    display: flex;
    padding: 7.5px;
}

.report_income {
    padding : 20px 0;
    color: accent-red;
}

.report_expenditure {
    padding: 20px 0;
    color: accent-blue;
}