@value point-background-color from '../../../assets/styles/colors.css';
@value base-padding from '../../../assets/styles/design.css';

.home_container {
    width: 100%;
    background-color: point-background-color;
    display: flex;
    justify-content: space-around;
    padding: base-padding;
}

.home_inner_container {
    min-width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1380px) {
    .home_container {
        display: block;
    }
}