@value point-background-color from '../../../assets/styles/colors.css';
@value base-padding from '../../../assets/styles/design.css';

.home_container {
    width: 100%;
    background-color: point-background-color;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.home_left_container {
    margin: base-padding;
    flex-grow: 1;
}

.home_right_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1820px) {
    .home_right_container {
        flex-direction: column;
    }
}

@media (max-width: 1380px) {
    .home_container {
        display: block;
    }

    .home_left_container {
        flex-grow: unset;
        max-width: 96%;
    }

}

@media (max-width: 800px) {
    .home_left_container {
        max-width: 94%;
    }
}
