@value point-gray from '../../../../../assets/styles/colors.css';
@value base-fonts from '../../../../../assets/styles/fonts.css';
@value base-font-size from '../../../../../assets/styles/fonts.css';
@value point-background-color from '../../../../../assets/styles/colors.css';

.calendar_option_container {
    background-color: point-gray;
    width: 400px;
    height: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    font-family: base-fonts;
    font-size: base-font-size;
    font-weight: bold;
    list-style-type: none;
}

.calendar_option {
}
.calendar_option.selected {
    color: black;
}
.calendar_option:hover {
    color: point-background-color;
    cursor: pointer;
}