@value base-fonts from '../../../assets/styles/fonts.css';
@value margin-top-down: 20px;
@value margin-side: 30px;

.logo {
    font-size: 50px;
    font-family: base-fonts;
    font-weight: bold;

    margin: margin-top-down margin-side;
}