@value point-gray from '../../../../../../assets/styles/colors.css';

.message_container {
    text-align: center;
    color: point-gray;
    font-weight: normal;
}

.cells_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.cells_column {
    width: 50%;
}

@media (max-width: 800px) {
    .cells_container {
        flex-direction: column;
    }
}