@value black from '../../../../../assets/styles/colors.css';
@value white from '../../../../../assets/styles/colors.css';
@value point-gray from '../../../../../assets/styles/colors.css';
@value point-indigo from '../../../../../assets/styles/colors.css';
@value accent-red from '../../../../../assets/styles/colors.css';
@value accent-blue from '../../../../../assets/styles/colors.css';
@value base-fonts from '../../../../../assets/styles/fonts.css';
@value base-font-size from '../../../../../assets/styles/fonts.css';
@value base-padding from '../../../../../assets/styles/design.css';
@value point-background-color from '../../../../../assets/styles/colors.css';
@value point-background-light-color from '../../../../../assets/styles/colors.css';
@value point-background-mild-color from '../../../../../assets/styles/colors.css';
@value point-background-vague-color from '../../../../../assets/styles/colors.css';
@value point-mild-color from '../../../../../assets/styles/colors.css';

.custom_calender {
    width: 80%;
    padding: base-padding 50px;
    font-weight: 600;
    font-size: base-font-size;
    color: black;
}

.header_container {
    height: 50px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.middle {
    padding: 0 base-padding;
}
.arrow_navigator {
    padding: 0 base-padding;
    margin-top: 10px;
}
.arrow_navigator:hover {
    color: point-background-color;
}

.days_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: base-padding;
}
.day {
    width: 100%;
    height: 20px;
    margin: 3px;
    text-align: center;
}

.cells_container {
}
.cells_row {
    display: flex;
    justify-content: space-between;
}
.cell {
    width: 100%;
    min-height: 100px;
    background-color: point-background-light-color;
    margin: 3px;
}
.cell.today {
    background-color: point-background-mild-color;
    font-weight: bold;
}
.cell.selected {
    border: 2px dashed point-mild-color;
}
.cell_container {
    padding: 2px 5px;
    font-size: 16px;
}
.cell.invalid {
    background-color: point-background-vague-color;
}
.cell_day {
}
.invalid {
    color: point-gray;
}
